{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>US Elections Map</title>
{% endblock %}

{% block menuadd %}
<li>


</li>
{% endblock %}

{% block header_tail %}
<!-- Time control https://jqueryui.com/slider/#rangemin -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'custom.css' %}" />
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

{% endblock %}


{% block content %}
<div id="page-wrapper">
    <div class="row">
        <br />
        <div class="col-lg-12">
            <p>
                <label for="amount">Maximum Time:</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                <button id="button-refresh" data-loading-text="Loading..." type="button" class="btn btn-primary" autocomplete="off" >Refesh data (+ 1min)
                </button>
                <button id="status-circle" type="button" class="btn btn-warning btn-circle btn-lg"><i id="status-fa" class="fa fa-question"></i>
                </button>
                <span id="minute_requested"></span>

            </p>
            <div id="slider-range-min"></div>
            <br />
        </div>


        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div id = 'map' style = "height: 500px" class="col-lg-12">

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Grands électeurs
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="donut-main-electors"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Electeurs "normaux"
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="donut-regular-electors"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

    <!-- /.row -->
    <!-- Not implemented yet

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Results
                </div>
                <div class="panel-body">
                    <table id="datatable" class="display">
                        <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Row 1 Data 1</td>
                                <td>Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                <td>Row 2 Data 2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
-->
    <!-- /.row -->
</div>
{% endblock %}


{% block body_tail %}
<!-- Morris Charts JavaScript -->
<script src="{% static 'vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'vendor/morrisjs/morris.min.js' %}"></script>

<!-- Custom variables -->
<script>
    var ajaxurl = "{% url 'ajax_map' %}"
    var demlogo = "{% static 'demlogo.png' %}"
    var replogo = "{% static 'replogo.jpg' %}"
</script>

<!-- Custom scripts -->
<script src="{% static 'donnut.js' %}"></script>
<script src="{% static 'map_main.js' %}"></script>
<script src="{% static 'map_layers.js' %}"></script>
<script src="{% static 'map_legend.js' %}"></script>

<script src="{% static 'slider.js' %}"></script>
<script src="{% static 'ajax_refresh.js' %}"></script>

<!-- Not implemented yet
<script src="{% static 'datatable.js' %}"></script>
-->

{% endblock %}
