{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>US Elections Map</title>
{% endblock %}

{% block header_tail %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'custom.css' %}" />
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

{% endblock %}


{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Map</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div id = 'map' style = "height: 500px" class="col-lg-12">

        </div>
    </div>

    <!-- /.row -->
</div>
{% endblock %}


{% block body_tail %}
<script>
    var ajaxurl = "{% url 'ajax_map' %}"
</script>
<script src="{% static 'us_map.js' %}"></script>
{% endblock %}
