{% extends 'base.html' %}
{% load staticfiles %}

<!-- Balise title <60 caractères -->
{% block title %}
<title>US Elections Map</title>
{% endblock %}

{% block header_tail %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'custom.css' %}" />
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<!-- Time control https://jqueryui.com/slider/#rangemin -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


{% endblock %}


{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Map</h1>
        </div>
        <div class="col-lg-12">
            <p>
                <label for="amount">Maximum Time:</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <div id="slider-range-min"></div>
            <br />
        </div>


        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div id = 'map' style = "height: 500px" class="col-lg-12">

        </div>
    </div>

    <div class="row">
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Résultats des votes de tous les états en temps réel
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

    <!-- /.row -->
</div>
{% endblock %}


{% block body_tail %}
<!-- Morris Charts JavaScript -->
<script src="{% static 'vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'vendor/morrisjs/morris.min.js' %}"></script>
<script src="{% static 'donnut.js' %}"></script>

<script>
    var ajaxurl = "{% url 'ajax_map' %}"
    var demlogo = "{% static 'demlogo.png' %}"
    var replogo = "{% static 'replogo.jpg' %}"


</script>
<script src="{% static 'us_map.js' %}"></script>
<script src="{% static 'slider.js' %}"></script>

{% endblock %}
